<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>SerieTVApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
    

  <servlet>
  	<servlet-name>RicercaServlet</servlet-name>
  	<servlet-class>it.serietvapp.servlet.RicercaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RicercaServlet</servlet-name>
  	<url-pattern>/ricerca</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>VideoServlet</servlet-name>
  	<servlet-class>it.serietvapp.servlet.VideoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>VideoServlet</servlet-name>
  	<url-pattern>/video</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>PopolariServlet</servlet-name>
  	<servlet-class>it.serietvapp.servlet.PopolariServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PopolariServlet</servlet-name>
  	<url-pattern>/popolari</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>DettagliServlet</servlet-name>
  	<servlet-class>it.serietvapp.servlet.DettagliServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DettagliServlet</servlet-name>
  	<url-pattern>/dettagli</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>AttoriServlet</servlet-name>
  	<servlet-class>it.serietvapp.servlet.AttoriServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AttoriServlet</servlet-name>
  	<url-pattern>/attori</url-pattern>
  </servlet-mapping>
     <servlet>
  	<servlet-name>EpisodiServlet</servlet-name>
  	<servlet-class>it.serietvapp.servlet.EpisodiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EpisodiServlet</servlet-name>
  	<url-pattern>/episodi</url-pattern>
  </servlet-mapping>
     <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>it.serietvapp.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
      <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<servlet-class>it.serietvapp.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
       <servlet>
  	<servlet-name>RegistratiServlet</servlet-name>
  	<servlet-class>it.serietvapp.servlet.RegistratiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegistratiServlet</servlet-name>
  	<url-pattern>/registrati</url-pattern>
  </servlet-mapping>
  
      <servlet>
  	<servlet-name>AggiungiServlet</servlet-name>
  	<servlet-class>it.serietvapp.servlet.AggiungiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AggiungiServlet</servlet-name>
  	<url-pattern>/aggiungi</url-pattern>
  </servlet-mapping>
     <servlet>
  	<servlet-name>AggiungiEpisodioServlet</servlet-name>
  	<servlet-class>it.serietvapp.servlet.AggiungiEpisodioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AggiungiEpisodioServlet</servlet-name>
  	<url-pattern>/aggiungiEpisodio</url-pattern>
  </servlet-mapping>
     <servlet>
  	<servlet-name>RimuoviEpisodioServlet</servlet-name>
  	<servlet-class>it.serietvapp.servlet.RimuoviEpisodioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RimuoviEpisodioServlet</servlet-name>
  	<url-pattern>/rimuoviEpisodio</url-pattern>
  </servlet-mapping>
     <servlet>
  	<servlet-name>VerificaEpisodioServlet</servlet-name>
  	<servlet-class>it.serietvapp.servlet.VerificaEpisodioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>VerificaEpisodioServlet</servlet-name>
  	<url-pattern>/verificaEpisodio</url-pattern>
  </servlet-mapping>
      <servlet>
  	<servlet-name>RimuoviServlet</servlet-name>
  	<servlet-class>it.serietvapp.servlet.RimuoviServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RimuoviServlet</servlet-name>
  	<url-pattern>/rimuovi</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>ListaServlet</servlet-name>
  	<servlet-class>it.serietvapp.servlet.ListaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ListaServlet</servlet-name>
  	<url-pattern>/lista</url-pattern>
  </servlet-mapping>
    

</web-app>